@import "color";
#links {
  text-align: center;
}

body {
  background: $body;
  color: $lowlight;
}

.container.hero {
  width: 100%;
  max-width:100%;
  padding:0;
  background: $mid;
  color: $lowlight;
  height: 19.5rem;
  border-bottom : solid 4em $highlight;
}

.main-content {
  font-weight: 100;
}

.subtitle {
  font-weight: 300;
}

.footer {
  position: fixed;
  height : 3em;
  bottom: 0px;
  width: 100%;
  background: $accent;
  color: $lowlight;
  font-size: small;
}

.footer a {
  text-decoration: none;
  color: $mid;
}

.copyright {
  float:right;
  margin-top: -3em;
}
