@import "color";
#links {
  text-align: center;
}

body {
  background: $body;
  color: $lowlight;
}

.container.hero {
  width: 100%;
  max-width:100%;
  padding:0;
  background: $mid;
  color: $lowlight;
  height: 20rem;
  border-bottom : solid 4.5em $highlight;
}

.main-content {
  font-weight: 100;
}

.subtitle {
  font-weight: 300;
}

.footer {
  position: fixed;
  height : 3em;
  bottom: 0px;
  width: 100%;
  background: $accent;
  color: $lowlight;
  font-size: small;
}

.footer a {
  text-decoration: none;
  color: $mid;
}

.copyright {
  float:right;
  margin-top: -3em;
}

#links a {
  display: inline-block;
  max-height: 200px;
  overflow: hidden;
}

.headline-font {
  font-family: 'stringfellowsregular';
}

@font-face {
    font-family: 'stringfellowsregular';
    src: url('stringfellows-webfont.eot');
    src: url('stringfellows-webfont.eot?#iefix') format('embedded-opentype'),
         url('stringfellows-webfont.woff2') format('woff2'),
         url('stringfellows-webfont.woff') format('woff'),
         url('stringfellows-webfont.ttf') format('truetype'),
         url('stringfellows-webfont.svg#stringfellowsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
