.portfolio-image img {
  max-width : 150px;
}
.new-image-container {
  position:relative;
  height: 200px
}
.new-image {
  height : 200px;
  width : 150px;
  background-color: #E0E0E0;
  position: absolute;
  top: 0;
  left: 0;
}
.new-image::before{
  content:" ";
  position: absolute;
  bottom:100;
  left: 60;
  width: 30;
  height: 5;
  transform: rotateZ(90deg);
  background-color: #D4D4D4;
}
.new-image::after{
  content:" ";
  position: absolute;
  bottom: 100;
  left: 60;
  width: 30;
  height: 5;
  background-color: #D4D4D4;
}
